<% layout('./layouts/boilerplate') %>

<section id="new-camp" class="flex justify-center mb-6">
  <div class="card bg-base-100 w-1/2 shadow-xl portrait:w-11/12">
    <div class="card-body items-center text-center gap-6">
      <h2 class="card-title">Edit Campground</h2>
      <form action="/campgrounds" method="POST" class="w-full group" 
      onkeydown="if(event.keyCode === 13) { 
        return false;
      }"
      novalidate>
        <div>
          <input
            type="text"
            placeholder="Title"
            class="mb-4 input input-accent input-bordered w-full max-w-xs"
            name="campground[title]"
            id="title"
            value="<%=campground.title%>"
            required
          />
        </div>
        <div>
          <input
            type="text"
            placeholder="Location"
            class="mb-4 input input-accent input-bordered w-full max-w-xs"
            name="campground[location]"
            id="location"
            value="<%=campground.location%>"
            required
          />
        </div>
        <div>
          <input
            type="text"
            placeholder="Image URL"
            class="mb-4 input input-accent input-bordered w-full max-w-xs"
            name="campground[image]"
            id="image"
            value="<%=campground.image%>"
            required
          />
        </div>
        <div>
          <input
            type="number"
            placeholder="$0.00"
            class="mb-4 input input-accent input-bordered w-full max-w-xs"
            name="campground[price]"
            id="price"
            value="<%=campground.price%>"
            required
          />
        </div>
        <div>
          <textarea
            placeholder="Description"
            class="mb-4 textarea textarea-accent w-[56%] portrait:w-full"
            name="campground[description]"
            id="description"
            required
          ><%=campground.description%></textarea>
        </div>
        <button class="btn btn-accent text-white group-invalid:pointer-events-none group-invalid:opacity-30"">Edit Campground</button>
      </form>

      <footer>
        <a class="link link-accent" href="/campgrounds">Back to All</a>
      </footer>
    </div>
  </div>
</section>
