<% layout('./layouts/boilerplate') %>

<section id="show page" class="mt-8 w-full flex flex-row flex-wrap justify-center gap-6 mb-8">
  <div class="w-2/5 portrait:w-11/12">
    <img
      class="mask mask-squircle"
      src="<%= campground.image  %>"
      alt=""
      srcset=""
    />
  </div>

  <div class="w-2/5 portrait:w-11/12">
    <div class="card bg-base-100  shadow-xl">
      <div class="card-body">
        <h1 class="mb-0 card-title"><%= campground.title %></h1>
        <h2 class="mt-0"><%= campground.location %></h2>
        <p>$<%= campground.price %>/night</p>
        <p><%= campground.description %></p>

        <div class="flex gap-4">
        <a class="btn btn-accent " href="/campgrounds/<%=campground._id%>/edit">Edit</a>
        <form class="inline"
          action="/campgrounds/<%= campground._id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-error">Delete</button>
        </form>
      </div>
        <footer>
          <a class="link link-accent" href="/campgrounds">Back to All</a>
        </footer>
      </div>
    </div>
  </div>
</section>
